//  colors variables
$green: #73993d;
$green2: #87b448;
$green3: #71973c;
$white: #fff;
$black: #1c2534;
$balck2: #010101;
$gray: #7c8695;
$gray2: #d3d3d3;
$gray3:#e0e2e6;
$gray4: #b7bfcd;
$gray5: #c1c1c1;
$gray6: #c8cdd5;
$gray7: #f7f7f7;
$gray8: #c2c2c4;
$gray9: #f3f4f6;
$red: #fb6363;
$blue: #65bade;
$blue2:  #5ba3c3;

// fonts variables

$Proxima: "Proxima Nova", Arial, san-serif;

