@import "../fonts/ProximaNova/fonst";
@import "_variables";

html, body {
  font-family: $Proxima;
}

.container {
  width: 100%;
  max-width: 1440px;
  min-width: 970px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

a {
  color: $black;

  &:active {
    color: $black;
  }

  &:visited {
    color: $black;
  }
}

.def-h2 {
  color: $black;
  font-family: $Proxima;
  font-size: 30px;
  font-weight: 400;
  line-height: 42px;
}

.def-button {
  display: inline-block;
  background: $green2;
  color: $white;
  font-size: 14px;
  line-height: 30px;
  padding-right: 19px;
  padding-left: 19px;
  border: 0;
  border-radius: 5px;
  transition: 'background' 0.5s;
  cursor: pointer;

  &:hover {
    background: $green;
  }
}
