/** Proxima Nova **/

@font-face {
  font-family: 'Proxima Nova';
  src: url('fonts/ProximaNova/ProximaNova-Regular.eot') format('eot'),
       url('fonts/ProximaNova/ProximaNova-Regular.woff') format('woff'),
       url('fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('fonts/ProximaNova/ProximaNova-Light.eot') format('eot'),
       url('fonts/ProximaNova/ProximaNova-Light.woff') format('woff'),
       url('fonts/ProximaNova/ProximaNova-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
